<!DOCTYPE html>
<html>
  <head>
    <title>UdeSA Movies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>UdeSA Movies</h1>
    <!-- COMPLETAR CON DATOS DE LA PELICULA SELECCIONADA QUE VIENE POR EL CONTROLLER -->
    <p>Datos de la película: <%= movie.title %> </p>
    <a href="/">Home</a>
    
    <p>Rating: <%= movie.rating %> </p>
    <p>Duración: <%= movie.length %> min</p>
    <p> Fecha de estreno: <%= movie.release_date %></p>  


    <form action="/movies/editMovie/<%= movie.id %>" method="get">
      <button type="submit"> Modificar </button>
    </form>
    
  </body>
</html>
